@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Insurance</title>
    <link href="/Content/bootstrap.min.css" rel="Stylesheet"  type="text/css"  />
    <link href="/Content/boostrap.theme.slate.css" rel="Stylesheet"  type="text/css" />
    <link href="/Content/font-awesome.min.css"  rel="Stylesheet"  type="text/css"/>
    <link href="/Content/Site.css"  rel="Stylesheet"  type="text/css"/>
    <link href="/Content/bootstrap-datetimepicker.min.css"  rel="Stylesheet"  type="text/css"/>

    
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Insurance POC</a>
  </div>

 
  <div class="collapse navbar-collapse" id="main_navbar">

  </div>
</nav>


<div id="main_content">
</div>

<script src="/Scripts/jquery-1.10.0.min.js"></script>
<script src="/Scripts/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/Scripts/bootstrap.min.js"></script>
<script src="/Scripts/sammy-0.7.4.min.js"></script>
<script src="/Scripts/require.min.js" data-main="Client/app"></script>
@*<script src="/Scripts/text.js" />*@
</body>
</html>
